@import "./fonts/open-sans.scss";

:root {
  --primary-color: #2b0a57;
  --secondary-color: #5948ad;
  --tertiary-color: #f8f5fc;
  --validation-error: #eb5757;
}

body {
  font-family: "Open Sans", sans-serif;
}

.component-title {
  position: absolute;
  background-color: aquamarine;
  top: 0;
  left: 0;
  padding: 4px;
  font-size: 10px;
  color: var(--primary-color);
}

// b-checkbox
.custom-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custom-control-input {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
}

.custom-control-label {
  font-size: 16px;
  font-weight: 400;
  color: #413c3c;
}

.modal {
  backdrop-filter: blur(10px);
}

.modal-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #413c3c;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-header {
  flex-direction: column;
  align-items: flex-start;
  padding: 26px 26px 0;

  h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    padding: 40px 0 0;
  }

  .close {
    margin-left: -10px;
  }
}
.modal-body {
  padding: 26px;
}

.modal-content {
  font-weight: 300;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #413c3c;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 10px 0px #82828240;
}

.modal-footer {
  button {
    display: none;
  }
}
