@import "./fonts/open-sans.scss";

:root {
  --primary-color: #2b0a57;
  --secondary-color: #5948ad;
  --tertiary-color: #f8f5fc;
  --validation-error: #eb5757;
}

body {
  font-family: "Open Sans", sans-serif;
}

.component-title {
  position: absolute;
  background-color: aquamarine;
  top: 0;
  left: 0;
  padding: 4px;
  font-size: 10px;
  color: var(--primary-color);
}

// b-checkbox
.custom-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custom-control-input {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
}

.custom-control-label {
  font-size: 16px;
  font-weight: 400;
  color: #413c3c;
}
