// TODO: remove it
// --bs-breakpoint-xs: 0;
// --bs-breakpoint-sm: 576px;
// --bs-breakpoint-md: 768px;
// --bs-breakpoint-lg: 992px;
// --bs-breakpoint-xl: 1200px;
// --bs-breakpoint-xxl: 1400px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
